<div id="<%= dom_id immobilier %>">
  <p>
    <strong>Titre:</strong>
    <%= immobilier.titre %>
  </p>

  <p>
    <strong>Chambre:</strong>
    <%= immobilier.chambre %>
  </p>

  <p>
    <strong>Salle de bains:</strong>
    <%= immobilier.salle_de_bains %>
  </p>

  <p>
    <strong>Integer:</strong>
    <%= immobilier.integer %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= immobilier.description %>
  </p>

  <p>
    <strong>Prix:</strong>
    <%= immobilier.prix %>
  </p>

  <p>
    <strong>Adresse:</strong>
    <%= immobilier.adresse %>
  </p>

  <p>
    <strong>Region:</strong>
    <%= immobilier.region %>
  </p>

  <p>
    <strong>Etage:</strong>
    <%= immobilier.etage %>
  </p>

  <p>
    <strong>Rez de chausse:</strong>
    <%= immobilier.rez_de_chausse %>
  </p>

  <p>
    <strong>Terasse:</strong>
    <%= immobilier.terasse %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= immobilier.contact %>
  </p>

  <p>
    <strong>Statut:</strong>
    <%= immobilier.statut %>
  </p>

  <p>
    <strong>Etat:</strong>
    <%= immobilier.etat %>
  </p>

</div>
